<div class="container mt-5">
    <app-user [user]="user"></app-user>
    <select>
        <option *ngFor='let user of users'>
            {{user.email}} ({{user.age}})
        </option>

    </select>
</div>


<div class="container mt-5">
    <select (change)="onChange($event.target)">
        <ng-container *ngFor='let user of users'>
            <ng-container *ngIf="user.age < 40">
                <option [value] = "user.email">
                    {{user.email}} ({{user.age}})
                </option>
            </ng-container>
        </ng-container>
    </select>
</div>