<form>
  <table class="table mt-5 container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index">
        <th scope="row">{{i + 1}}</th>
        <td>
          <p *ngIf="!isEdit || indexForEdit !== i">{{user.email}}</p>
          <input #email type="text" *ngIf="isEdit && indexForEdit === i" value="{{user.email}}">
        </td>
        <td>
          <p *ngIf="!isEdit || indexForEdit !== i">{{user.password}}</p>
          <input #password type="text" *ngIf="isEdit && indexForEdit === i" value="{{user.password}}">
        </td>
        <td>
          <p *ngIf="!isEdit || indexForEdit !== i">{{user.address}}</p>
          <input #address type="text" *ngIf="isEdit && indexForEdit === i" value="{{user.address}}">
        </td>
        <td>
          <button (click)="edit(user, i)" style="background-color: green;" *ngIf="!isEdit || indexForEdit !== i">Edit</button>
          <button type="submit"  style="background-color: orange;" *ngIf="isEdit && indexForEdit === i">Save</button>
        </td>
      </tr>

    </tbody>
  </table>
</form>


